---
export interface Props {
  text: string;
  id?: string;
}

const { text, id } = Astro.props;
---

<button type="button" id={id}>{text}</button>

<style>
  button {
    line-height: 1.8;
    color: #fff;
    background: #111;
    border-radius: 4px;
    display: block;
    width: min(90%, 400px);
    margin: 0 auto;
    padding: 1em 0.5em;
    border: none;
  }
</style>
