---
---

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/install/">Install</a></li>
  </ul>
</nav>

<style>
  nav {
    grid-column: 1/-1;
    margin-bottom: 2rem;
  }
  ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  li {
    list-style: none;
  }
  li + li {
    border-left: 1px solid #000;
  }
  a {
    display: block;
    padding: 1em;
    text-align: center;
    display: grid;
    place-items: center;
    color: darkblue;
    line-height: 1;
  }
</style>
