---
import Layout from "../../layouts/Layout.astro";
import Text from "../../components/Text.astro";
import Heading from "../../components/Heading.astro";
import Button from "../../components/Button.astro";

const title = "Install page";
---

<Layout title={title}>
  <Heading text={title} />
  <Text
    text="アプリをダウロードするとホーム画面からすぐに起動してサービスを活用できます。"
  />
  <Button id="installButton" text="アプリをダウンロード" />
  <ul>
    <li>新着のニュースをバッジでお知らせ</li>
    <li>オフラインでも使える</li>
    <li>マイページにショートカット</li>
  </ul>
  <p>
    <img src="/images/app.png" alt="通知マークがついているアプリアイコン" />
  </p>
</Layout>

<style>
  ul {
    margin-top: 3rem;
  }
  li + li {
    margin-top: 1rem;
  }
  img {
    border: 1px solid gray;
    border-radius: 4px;
  }
</style>
